@model IEnumerable<Blog.Dominio.Model.Comentario>

@{
    ViewBag.Title = "Index";
}

<h2>Comentários</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutorID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComentarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComentarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComentarioID })
        </td>
    </tr>
}

</table>
